<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="TEXTPLUS_SAW_FCS" version="2.5">
    <display-name>German newspaper portal SRU/CQL FCS 2.0 Endpoint</display-name>
    <description>SRU/CQL FCS 2.0 FCS Endpoint Service for the German newspaper portal</description>

    <context-param>
        <description>Default resource</description>
        <param-name>DEFAULT_RESOURCE_PID</param-name>
        <param-value>https://www.deutsche-digitale-bibliothek.de/newspaper</param-value>
    </context-param>

    <servlet>
        <display-name>German newspaper portal SRU/CQL FCS 2.0 Endpoint</display-name>
        <servlet-name>SRU/CQL</servlet-name>

        <!-- using the CLARIN FCS framework with our search engine class -->
        <servlet-class>eu.clarin.sru.server.utils.SRUServerServlet</servlet-class>
        <init-param>
            <param-name>eu.clarin.sru.server.utils.sruServerSearchEngineClass</param-name>
            <param-value>de.ddb.labs.dzpfcs.DzpEndpointSearchEngine</param-value>
        </init-param>

        <!-- some SRU settings -->
        <!-- for a full list, see: eu.clarin.sru.server.SRUServerConfig -->
        <init-param>
            <param-name>eu.clarin.sru.server.numberOfRecords</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <param-name>eu.clarin.sru.server.maximumRecords</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>eu.clarin.sru.server.allowOverrideMaximumRecords</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>eu.clarin.sru.server.allowOverrideIndentResponse</param-name>
            <param-value>true</param-value>
        </init-param>

        <!-- To enable SRU 2.0 for FCS 2.0 -->
        <init-param>
            <param-name>eu.clarin.sru.server.sruSupportedVersionMax</param-name>
            <param-value>2.0</param-value>
        </init-param>
        <init-param>
            <param-name>eu.clarin.sru.server.legacyNamespaceMode</param-name>
            <param-value>loc</param-value>
        </init-param>

        <!-- mandatory SRU information -->
        <init-param>
            <param-name>eu.clarin.sru.server.database</param-name>
            <param-value>FIXME-MANDATORY</param-value>
        </init-param>

        <init-param>
            <param-name>eu.clarin.sru.server.transport</param-name>
            <param-value>https</param-value>
        </init-param>
        
        <init-param>
            <param-name>eu.clarin.sru.server.host</param-name>
            <param-value>labs.deutsche-digitale-bibliothek.de/app/dzp-fcs</param-value>
        </init-param>
                        
        <init-param>
            <param-name>eu.clarin.sru.server.port</param-name>
            <param-value>443</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SRU/CQL</servlet-name>
        <url-pattern>/app/dzp-fcs/*</url-pattern>
    </servlet-mapping>
</web-app>